body {
  background-color: #292548;
}

.flask {
  height: 405px;
  width: 368px;
  position: no;
  bottom: 999;
}

.flask_bottom {
  bottom: 999;
  position: no;
}

.big_triangle {
  overflow: hidden;
  position: relative;
  width: 368px;
  height: 250px;
  background-color: #fff;
}