

QFrame#center_frame {
    aaa: xxx;
}
QLabel {
    bbb: AAAAAAAA;
}


QFrame#center_frame {
    aaa: xxx;
}
QLabel {
    bbb: AAAAAAAA;
}


QFrame#center_frame {
    aaa: xxx;
}
QLabel {
    bbb: AAAAAAAA;
}


QFrame#center_frame {
    aaa: xxx;
}
QLabel {
    bbb: AAAAAAAA;
}
