

QFrame#center_frame {
    color: red;
    border-color: black;
}

QFrame {
    background: red;
}

/*комент*/
/*комент*/


QLabel {
    border-color: black;
    /*xxxxx: XXX;*/
    color: grey;
    border: 1px;
}

QLabel:hover {
    border-color: black;
    /*xxxxx: XXX;*/
    color: grey;  /* xxxx: green; */
    border-radius: 1px;
}
