
QFrame#center_frame {
    background-color: #535353;
}

QFrame#manager_window {
    background-color: #b6b6b6;
    /*border-left: 1px solid gray;*/
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 90px;

    /*border: 1px solid lightgray;*/
    border-radius: 20px;
}

QFrame#display {
    background-color: #B6B6B6;
    margin-right: auto;
}

QFrame#tool_game {
    background-color: gray;
    /*border-image: url(./resources/icons/texture/game.png);*/
    background-position: center;
    border-right: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    /*margin-left: 20px;*/
    margin-right: auto;


}

QFrame#setting_box {
    background-color: lightgray;
    border-top: 1px solid #adadad;
    border-right: 1px solid #adadad;
    border-left: 1px solid #adadad;
    border-bottom: 1px solid #adadad;;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}


/*AAAQPushButton#game1 {*/
    /*border: 5px solid #adadad;*/
/*}*/

/* QToolButton#seqgametool {*/
    /*border: 5px solid red;*/
/*}*/

/*-------------SETTINGS_BUTTONS-----------------*/


QPushButton#exit_button {
    border-image: url(resources/icons/64/exit.png);
}

QPushButton#exit_button:hover {
    border-image: url(resources/icons/64/exit_hover.png);
}

QPushButton#config_button {
    /*border: none;*/
    border-image: url(resources/icons/64/config.png);
}

QPushButton#config_button:hover {
    /*border: none;*/
    border-image: url(resources/icons/64/config_hover.png);
}

QPushButton#volume_button {
    /*border: none;*/
    border-image: url(resources/icons/64/volume.png);

}

QPushButton#volume_button:hover {
    /*border: none;*/
    border-image: url(resources/icons/64/volume_hover.png);

}

/*-----------------------------------------------*/


EditWindow {
    background-color: #E5E5E5;
}

Tool {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    background-color: #aeaeaf;


}

Group {
    background-color: #aeaeaf;
border: 1px solid white;
    border-radius: 6px;
    /*margin-left: 10px;*/
}

QToolButton#return
{
    /*noinspection CssUnknownTarget*/
    border-image: url(resources/icons/return.png);
    /*margin-left: 8px;*/

}


QToolButton#next
{
    /*noinspection CssUnknownTarget*/
    border-image: url(resources/icons/next.png);
    /*margin-right: 8px;*/

}


QToolButton#prev
{
    /*noinspection CssUnknownTarget*/
    border-image: url(resources/icons/prev.png);
}

/*--------------- GAME ----------------*/

GameButton {
    /*margin-right: 20px;*/
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    /*margin-right: 20px;*/
}



QToolButton#seqgametool {
    margin-top: 50px;
    border-image: url(resources/icons/seqgame/tool.png);
}

QToolButton#seqgametool:hover {
    border-image: url(resources/icons/seqgame/tool_hover.png);
}

/*QToolButton#editgametool {*/
    /*margin-top: 50px;*/
    /*border-image: url(resources/icons/editgametool/tool.png);*/
/*}*/

/*QToolButton#editgametool:hover {*/
    /*margin-top: 50px;*/
    /*border-image: url(resources/icons/editgametool/tool_hover.png);*/
/*}*/



